# MongoDB
MONGO_PORT=27017
MONGO_USER=admin
MONGO_PASSWORD=admin
MONGO_DB=task_management

# RabbitMQ
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# NestJS server
SERVER_PORT=3000
SWAGGER_PATH=docs

# Angular client
CLIENT_PORT=4200
