NODE_ENV=development
PORT=3000

# MongoDB
MONGO_URI=mongodb://admin:admin@localhost:27017/task_management?authSource=admin

# RabbitMQ
RABBITMQ_URI=amqp://guest:guest@localhost:5672

# Swagger
SWAGGER_PATH=docs
